In [ ]:
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))

In [ ]:
# import pyspark as ps

# spark = ps.sql.SparkSession.builder \
#         .master("local[4]") \
#         .appName("df lecture") \
#         .getOrCreate()

# sc = spark.sparkContext

In [11]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import boto3

In [ ]:
# s3 = boto3.client("s3")

In [ ]:
# bucket = "chizzy"
# subfolder = "yelp_data"
# file_name = "yelp_data/business.json"
# file_lists = s3.list_objects(Bucket=bucket, Prefix = "{}/".format(subfolder), Delimiter='/')["Contents"][1]["Key"]
# file = s3.get_object(Bucket=bucket, Key="{}".format(file_name))

In [ ]:
from pymongo import MongoClient
client = MongoClient()

In [ ]:
# Access/Initiate Database
db = client["yelp"]
# Access/Initiate Table
tab = db["review"]

In [3]:
import pickle
with open("../../../downloads/df_rev_bus_user.pickle", "rb") as f:
    df_loaded = pickle.load(f)

In [1]:
df = df_loaded[df_loaded["state"] == "SC"]

NameError: name 'df_loaded' is not defined

In [ ]:
data = df.to_dict(orient="records")
tab.insert_many(data)

In [ ]:
name = "Showmars Fort Mill-Hwy 521"
state = "SC"

In [ ]:
dd = client.yelp

In [ ]:
list(dd.review.find())[:10]

In [ ]:
dat1 = pd.DataFrame(list(dd.review.find({"bus_name": name, "state":state}).limit(5)))

In [ ]:
dat1.head()

In [ ]:
dat = pd.DataFrame(list(db.review.find({"bus_name": name, "state":state}).limit(5)))

In [ ]:
dat.head()

In [ ]:
df_loaded[["bus_name", "text", "stars_rev", "state"]][df_loaded["state"] == "SC"].iloc[20:70,:]

In [2]:
%load_ext autoreload
%autoreload 2
import util

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/chibuzor/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/chibuzor/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
    with open("../../../downloads/models.pickle", "rb") as f:
        models = pickle.load(f)

In [5]:
lst, name, size, Recall, Precision, Accuracy, lst_neg, lst_pos = util.display(models, df_loaded, 4, 5, state="NV", bus_name="The Garden Grill")

In [6]:
lst

   Section  Level of experience
0  stopped                    1
1    bland                    1
2     well                    1
3    sized                    1

In [9]:
list(lst["Section"])

['stopped', 'bland', 'well', 'sized']

In [ ]:
name

In [ ]:
size

In [ ]:
Recall

In [ ]:
Precision

In [ ]:
Accuracy

In [17]:
lst_neg[0][0], lst_neg[1][0], lst_neg[2][0], lst_neg[3][0]

('stopped', 'bland', 'well', 'sized')

In [16]:
lst_pos[0][1]

array(['perfect'],
      dtype='<U12')

In [14]:
pd.DataFrame(lst_pos, columns=["aspect","desc"])

        aspect          desc
0       potion     [perfect]
1        price         [wow]
2    margarita     [perfect]
3        check     [perfect]
4  beautifully  [incredible]
5        great         [omg]
6     waitress     [amazing]
7       opened     [awesome]

In [ ]:
type(lst_pos)

In [ ]:
with open("data.pickle", "rb") as f:
    data = pickle.load(f)

In [ ]:
data.tail()